<% provide(:title, 'Edit Comment') %>

<div class="row">
  <div class="col-md-12">
      <h1 class="book-name-show">
        <span class="glyphicon glyphicon-book"></span> <%= "#{@comment.book.name}" %>
      </h1>
      <h2 class="book-author-show">
        <span class="glyphicon glyphicon-user"></span> <%= "#{@comment.book.author}" %>
      </h2>
    <%= form_for(@comment) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update Comment", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
